/* Main CSS optometrist.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* APPOINTMENT SECTION */ 
.appointment-section {
  display: none; 
  padding: 40px;
  min-height: 100vh;
}

.appointment-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 40px 0px 40px;
}